<app-header></app-header>
<app-home></app-home>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 mb-5">
                <owl-carousel-o [options]="productslider">
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                </owl-carousel-o>
            </div>
            <div class="col-md-12 col-12 mb-5">
                <owl-carousel-o [options]="boxslider">
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                </owl-carousel-o>
            </div>
            <div class="col-md-12 col-12 mb-5">
                <owl-carousel-o [options]="boxsliderbanner">
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                    <ng-template carouselSlide><img src="assets/images/sscl-banner.jpg" alt="banner" class="p-2"></ng-template>  
                </owl-carousel-o>
            </div>
        </div>
    </div><!--/container-->
</section>

<app-footer></app-footer>