<section class="banner-section" style="background-image: url(assets/images/home-banner.svg);">
    <div class="container">
       <div class="row">
          <div class="col-md-6 col-12">
             <h1 class="h-heading"><b>Pay for Web Hosting & Get Domain for FREE!</b></h1>
             <p class="text-primary fs-4 mb-2"><i class="fa fa-check text-success mr-1"></i> <b>Free SSL</b> with all plans</p>
             <p class="text-primary fs-4 mb-2"><i class="fa fa-check text-success mr-1"></i> Highly- <b>reliable</b> and super-fast</p>
             <p class="text-primary fs-4 mb-3"><i class="fa fa-check text-success mr-1"></i> <b>24/7</b> top-rated support</p>
             <h2 class="orange-color"><span class="mr-2 text-secondary"> at just</span> <b> <sup ><i class="fa fa-usd fa-lg"></i></sup> <span class="rate"> 17</span><sup>/mo</sup></b></h2>
             <p class="mb-4"><strong>Buy and renew at the same cost! No hidden charges.</strong></p>
             <p><a href="#" class="btn orange-bg text-white bold-text">Get Deal</a></p>
          </div>
          <div class="col-md-6 col-12"></div>
       </div><!--/row-->
    </div><!--/container-->
 </section>
 <!--/banner-section-->

 <section class="section-1">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <p class="text-center mb-0 fs-5 text-white"><img src="assets/images/trustpilot-logo.svg" alt="" class="trust-logo mr-2"> rated us <b> Excellent </b> <img src="assets/images/stars.svg" alt="" class="trust-logo mr-1"> with the <a href="#" class="text-warning"><b>TrustScore 4.8 </b></a> out of 5 based on 2,527 customer reviews. </p>
          </div>
       </div>
    </div>
 </section>
 <!--/section-1-->

 <section class="section-2 pt-5 pb-3">
    <div class="container">
       <div class="row">
          <div class="col-md-3 col-12 text-center mb-3">
             <div class="w-icons"><img src="assets/images/domain-icons.svg" alt="" class="img-fluid"></div>
             <h5>Get free Domains</h5>
          </div>
          <div class="col-md-3 col-12 text-center mb-3">
             <div class="w-icons"><img src="assets/images/Independent-icons.svg" alt="" class="img-fluid"></div>
             <h5>100% Independent</h5>
          </div>
          <div class="col-md-3 col-12 text-center mb-3">
             <div class="w-icons"><img src="assets/images/control-panel-icons.svg" alt="" class="img-fluid"></div>
             <h5>User-Friendly Control Panel</h5>
          </div>
          <div class="col-md-3 col-12 text-center mb-3">
             <div class="w-icons"><img src="assets/images/support-icons.svg" alt="" class="img-fluid"></div>
             <h5>24x7 Support</h5>
          </div>
       </div><!--/row-->
    </div><!--/container-->
 </section>
 <!--/section-2-->

 <section class="section-3">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-12 mb-3 text-center">
             <h2 class="mb-5"><b>Choose your kind of Plan</b></h2>
          </div>
       </div>
       <!--/row-->
       
        <div class="row">
            <div class="col-md-4 col-12 mb-3">
                <div class="feature-box">
                    <h2 class="blue-bg">Tyro</h2>
                    <p class="text-center fs-5">Buy & Renew at same cost!</p>
                    <div class="save-box mb-3 text-center">
                        <h5 class="orange-color">SAVE 80%</h5>
                        <p class="text-secondary mb-0"><span class="mr-2">3 Years at</span> <s><i class="fa fa-usd"></i> 200/mo</s></p>
                        <h3 class="mb-0">
                            <sup><i class="fa fa-usd"></i></sup> 
                            <span class="rate"> 9.99</span><sup>/Per Month</sup>
                        </h3>
                    </div>
                    
                    <a href="https://client.mywebdoor.com/index.php?rp=/store/shared-hosting" class="btn btn-primary d-block mb-3 bold-text">Add to Cart</a>
                    <ul class="price-list">
                        <li>Host 1 Website</li>
                        <li class="orange-color">1 Free Domain included</li>
                        <li class="orange-color">No SSL Certificate</li>
                        <li class="orange-color">No Email Accounts</li>
                        <li class="orange-color">No WooCommerce Website</li>
                        <li class="blue-color">10 GB SSD Disk Space</li>
                        <li class="blue-color">Unlimited Bandwidth</li>
                        <li class="blue-color">cPanel + Softaculous</li>
                        <li class="blue-color">WordPress Optimized</li>
                        <li class="blue-color">1 MySQL Database</li>
                        <li class="blue-color">1.5 CPU Core, 2GB RAM</li>
                    </ul>
                </div><!--/feature-box-->
            </div>

            <!--/col-md-4 col-12-->
            <div class="col-md-4 col-12 mb-3">
                <div class="feature-box">
                    <h2 class="blue-bg">Swift</h2>
                    <p class="text-center fs-5">Buy & Renew at same cost!</p>
                    <div class="save-box mb-3 text-center">
                        <h5 class="orange-color">SAVE 80%</h5>
                        <p class="text-secondary mb-0"><span class="mr-2">3 Years at</span> <s><i class="fa fa-usd"></i> 200/mo</s></p>
                        <h3 class="mb-0">
                            <sup><i class="fa fa-usd"></i></sup> 
                            <span class="rate"> 14.99</span><sup>/Per Month</sup>
                        </h3>
                    </div>
                    
                    <a href="https://client.mywebdoor.com/index.php?rp=/store/shared-hosting" class="btn btn-primary d-block mb-3 bold-text">Add to Cart</a>
                    <ul class="price-list">
                        <li>Unlimited Website</li>
                        <li class="orange-color">1 Free Domain included</li>
                        <li class="orange-color">1 SSL Certificate</li>
                        <li class="orange-color">1 Email Accounts</li>
                        <li class="orange-color">No WooCommerce Website</li>
                        <li class="blue-color">20 GB SSD Disk Space</li>
                        <li class="blue-color">Unlimited Bandwidth</li>
                        <li class="blue-color">cPanel + Softaculous</li>
                        <li class="blue-color">WordPress Optimized</li>
                        <li class="blue-color">5 MySQL Database</li>
                        <li class="blue-color">2 CPU Core, 4GB RAM</li>
                    </ul>
                </div><!--/feature-box-->
            </div>
            <!--/col-md-4 col-12-->

            <div class="col-md-4 col-12 mb-3">
                <div class="feature-box">
                    <h2 class="orange-bg">Turbo</h2>
                    <p class="text-center fs-5">Buy & Renew at same cost!</p>
                    <div class="save-box mb-3 text-center">
                        <h5 class="orange-color">SAVE 80%</h5>
                        <p class="text-secondary mb-0"><span class="mr-2">3 Years at</span> <s><i class="fa fa-usd"></i> 200/mo</s></p>
                        <h3 class="mb-0">
                            <sup><i class="fa fa-usd"></i></sup> 
                            <span class="rate"> 29.99</span><sup>/Per Month</sup>
                        </h3>
                    </div>
                    
                    <a href="https://client.mywebdoor.com/index.php?rp=/store/shared-hosting" class="btn btn-primary d-block mb-3 bold-text">Add to Cart</a>
                    <ul class="price-list">
                        <li>Unlimited Website</li>
                        <li class="orange-color">1 Free Domain included</li>
                        <li class="orange-color">1 SSL Certificate</li>
                        <li class="orange-color">1 Email Accounts</li>
                        <li class="orange-color">1 WooCommerce Website</li>
                        <li class="blue-color">50 GB SSD Disk Space</li>
                        <li class="blue-color">Unlimited Bandwidth</li>
                        <li class="blue-color">cPanel + Softaculous</li>
                        <li class="blue-color">WordPress Optimized</li>
                        <li class="blue-color">Unlimited MySQL Database</li>
                        <li class="blue-color">2 CPU Core, 4GB RAM</li>
                    </ul>
                </div><!--/feature-box-->
            </div><!--/col-md-4 col-12-->
        </div><!--/row-->

       <div class="row mt-3">
          <div class="col-md-12 col-12 text-center mb-3">
             <h5><a href="#" class="">View cPanel Demo</a> | Servers in: Mumbai & New York</h5>
          </div>
          <div class="col-md-12 col-12">
             <div class="call-now text-center">
                <p class="fs-4 mb-0">Call <b><a href="#" class="orange-color"><i class="fa fa-volume-control-phone ml-3 blue-color"></i> +1 888-803-0053</a></b> or <a href="#" class="text-success"><b> <i class="fa fa-comments-o fa-lg ml-3"></i> Chat Now! </b></a></p>
             </div>
          </div>
       </div><!--/row-->
    </div><!--/container-->
 </section>
 <!--/section-3-->

 <section class="section-4">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-12 text-center mb-4">
             <h2><b>Trustworthy Web Hosting Guaranteed!</b></h2>
             <p class="fs-5 text-secondary">MyWebDoor - A Web hosting company with salient features to make your website the next big thing in the town!</p>
          </div>
          <div class="col-md-4 col-12 mb-3">
             <div class="priority-support-box">
                <h5><i class="fa fa-clock-o fa-lg orange-color me-1"></i> <b>24x7 Support</b></h5>
                <p class="mb-0">We understand you might need assistance and support for your website hosted on our servers. That is the reason we provide 24x7 expertise support for you and your site. Whenever you need help, we are a call away!</p>
             </div>
             <div class="priority-support-box">
                <h5><i class="fa fa-money fa-lg orange-color me-1"></i> <b>Flexibility</b></h5>
                <p class="mb-0">Different business has different scales and speed. We have plans for all kinds of Business and projects. Go through our plans and pick one that matches your requirements. You can obviously upgrade to the advanced plans as your business grows.</p>
             </div>
          </div>
          <div class="col-md-4 col-12 mb-3 text-center">
             <img src="assets/images/tech-support.svg" alt="" class="img-fluid">
          </div>
          <div class="col-md-4 col-12 mb-3">
             <div class="priority-support-box">
                <h5><i class="fa fa-share fa-lg orange-color me-1"></i> <b>Speedy Pick for your Site</b></h5>
                <p class="mb-0">Speed and reliability are the most essential terms to consider for your web hosting. Fortunately, we offer a speedy hosting with a better experience and reliable resources that you will love. </p>
             </div>
             <div class="priority-support-box">
                <h5><i class="fa fa-arrow-up fa-lg orange-color me-1"></i> <b>99.95% Uptime</b></h5>
                <p class="mb-0">You don’t have to be concerned about the uptime or the availability of your website with MyWebDoor. Our Tier-3 and Tier-4 data centres will take care of that for you and your website.</p>
             </div>
          </div>
       </div><!--/row-->
    </div><!--/container-->
 </section><!--/section-4-->

 <section class="section-5" style="background-image: url(assets/images/sscl-banner.jpg);">
    <div class="overlay"></div>
    <div class="container position-relative">
       <div class="row mb-4">
          <div class="col-md-12 col-12 text-center">
             <h2 class="text-white"><b>SSL Certificate Services You Get!</b></h2>
          </div>
       </div><!--/row-->
       <div class="row">
          <div class="col-md-7 col-12">
             <div class="row">
                <div class="col-md-4 col-12 mb-4 text-center">
                   <img src="assets/images/free-ssl.png" alt="" class="mb-2">
                   <h5 class="text-white"><b>Free SSl</b></h5>
                   <p class="text-white mb-2">Free SSl Solution Applied to your site providing enhanced security.</p>
                   <!--<p class="mb-0"><a href="#" class="orange-btn-sm">Free SSl</a></p>-->
                </div>
                <div class="col-md-4 col-12 mb-4 text-center">
                   <img src="assets/images/single-site.png" alt="" class="mb-2">
                   <h5 class="text-white"><b>Single Site</b></h5>
                   <p class="text-white mb-2">Provides affordable site protection with easy SSL certificate setup.</p>
                   <!--<p class="mb-0"><a href="#" class="orange-btn-sm">Single Site</a></p>-->
                </div>
                <div class="col-md-4 col-12 mb-4 text-center">
                   <img src="assets/images/wildcard.png" alt="" class="mb-2">
                   <h5 class="text-white"><b>Wildcard</b></h5>
                   <p class="text-white mb-2">Protect an unlimited number of subdomains with a single SSL certificate.</p>
                   <!--<p class="mb-0"><a href="#" class="orange-btn-sm">Wildcard</a></p>-->
                </div>
             </div>
             <!--/row-->
          </div>
          <div class="col-md-5 col-12">
             <div class="row">
                <div class="col-md-6 col-12 mb-4 text-center">
                   <img src="assets/images/premium-ssl.png" alt="" class="mb-2">
                   <h5 class="text-white"><b>Premium SSL</b></h5>
                   <p class="text-white mb-2">Enhanced security and trust with Organization Authentication features.</p>
                   <!--<p class="mb-0"><a href="#" class="orange-btn-sm">Premium SSL</a></p>-->
                </div>
                <div class="col-md-6 col-12 mb-4 text-center">
                   <img src="assets/images/advanced-ssl.png" alt="" class="mb-2">
                   <h5 class="text-white"><b>Advanced SSL</b></h5>
                   <p class="text-white mb-2">featuring Organization Authentication and Extended Validation.</p>
                   <!--<p class="mb-0"><a href="#" class="orange-btn-sm">Advanced SSL</a></p>-->
                </div>
             </div><!--/row-->
          </div>
       </div><!--/row-->
    </div><!--/container-->
 </section>
 <!--/section-add4-->